* {
    /* outline: solid firebrick 2px; */
}

/* ELEMENT SELECTORS */

body {
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #FFF3E4;
}

img {
    /* max-width: 165px; */
}

ul {
    list-style-type: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}

/* CLASS SELECTORS */

.page-container {
    display: flex;
    flex-direction: column;
    flex: auto;

    /* margin-left: 220px;
    margin-right: 220px; */
    
    /* outline: solid firebrick 3px; */
}

/* NAVBAR & FOOTER */

.navbar,
.footer {
    display: flex;
    flex-direction: row;

    background-color: #483434;
    color: white;
    padding: 16px;
}

.navbar {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

.navbar-page-title {
    color: white;
    font-size: 37px;
}

.links {
    display: flex;

    font-size: 20px;
    gap: 12px;
    padding: 0;
}

/* END OF NAVBAR & FOOTER */

/* START OF TOP CONTAINER */

.top {
    display: flex;
    background-color: #483434;
    color: white;

    /* outline: solid firebrick 2px; */
}

.header {
    display: flex;
    flex: auto;
}

.header-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    /* outline: solid firebrick 2px; */
}

.header-main-text {
    font-size: 48px;
    font-weight: 700;
}

.header-sub-text {
    font-size: 18px;
}

.header-button {
    align-self: flex-end;
    padding: 0;
}

#main-header-image {
    align-self: flex-end;
    justify-content: flex-end;

    height: 250px;
    width: 750px;
    margin: 20px;
    flex-shrink: 0;
}


/* END OF TOP CONTAINER  */

/* START OF MAIN CONTENT CONTAINER */

.main-content-container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    
    background-color: #FFF3E4;
    height: 1500px;
}

.main-content-main-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    font-size: 36px;
    font-weight: 700px;
}

.cards, .card {
    display: flex;
    flex-direction: row;
    border: 20px;
}

.card>img {
    display: flex;
    flex-direction: row;
    outline: solid firebrick 2px;
    max-width: 250px;
}

/* END OF MAIN CONTENT CONTAINER */

/* START OF QUOTE CONTAINER */
.quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EED6C4;

    height: 500px;
}

.text-one {
    font-style: italic;
}

.text-two {
    font-weight: bold;
}

/* END OF QUOTE CONTAINER */